@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply !px-0 !max-w-full;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@layer utilities {
}
